<.header>Showing User</.header>

<.list>
    <:item title="Id"><%= @user.id %></:item>
    <:item title="Name"><%= @user.name %></:item>
    <:item title="Username"><%= @user.username %></:item>
</.list>